<a href="https://colab.research.google.com/github/jeffreyboschman/30DaysOfPython/blob/main/Day1_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Day 1: Print a list on new lines

Given the list `names`, print the each element on a new line

In [ ]:
names = ['John', 'James', 'Adam', 'Nico']

##### The beginner way (don't do this)

In [ ]:
for i in range(len(names)):
  print(names[i])

John
James
Adam
Nico

##### A more Pythonic way

In [ ]:
for name in names:
  print(name)

John
James
Adam
Nico

##### The advanced Pythonic way

In [ ]:
print(*names, sep="\n")

John
James
Adam
Nico

Specifically, what this does is feed the argument names as a tuple

## Day 2: Swap variables

Given two variables, swap their values

In [1]:
low = 10
high = 9

##### The beginner way

In [2]:
low = 10
high = 9

if low > high:
    temp = low
    low = high
    high = temp

print(low, high)

9 10

##### A more Pythonic way

In [3]:
low = 10
high = 9

if low > high:
    low, high = high, low

print(low, high)

9 10

## Day 3: Merge dictionaries

Given the two dictionaries, merge them.

In [7]:
#python 3.5+
dict1 = { 'a': 1, 'b': 2 }
dict2 = { 'b': 3, 'c': 4 }

In [8]:

dict1 = { 'a': 1, 'b': 2 }
dict2 = { 'b': 3, 'c': 4 }
merged = { **dict1, **dict2 }

print (merged)

{'a': 1, 'b': 3, 'c': 4}

In [10]:
# Python >= 3.9 only
#merged = dict1 | dict2

#print (merged)